body {
  background-color: #cacaca;
  font-family: Arial, sans-serif;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

/* ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
} */

li {
  display: inline;
  margin: 0 5px;
  font-weight: bold;
  list-style: none;
}

img.animal-image {
  display: block;
  margin: 30px auto 0 auto;
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  border: 10px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.details-container {
  width: fit-content;
  margin: 20px auto;
  text-align: left;
}

.name-and-type {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 10px;
}

.job-info {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 5px;
}

.age-info {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 5px;
}

.age-label {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}

.skills-container {
  margin-top: 15px;
}

.skills-title {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
}

.skills-list {
  list-style-type: disc;
  padding: 0;
  margin: 5px 0 0 0;
}

.skills-list li {
  display: list-item;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 3px;
}